body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #0d0d37;
    color: wheat;
    line-height: 1.6;
    min-height: 100vh;
}
main{
    
    display: flex;
    justify-content: center;
  

}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #12124f;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

#navbar div p {
    margin: 0 30px;
    font-size: 25px;
    font-weight: 600;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}
#resuem a{
    padding: 20px 20px;
}
#navbar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    width: 70px;
}

#navbar ul li a {
    text-decoration: none;
    color: #f5deb3;
    transition: color 0.3s ease;
}

#navbar ul  :hover{
    cursor: pointer;
}


#navbar ul li:hover   {
    background-color:#10105b;

}



{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    /* max-width: 1200px; */
    margin: 20px ;
    margin-top: 90px;
    
}

#left {
    width: 45%;
    box-sizing: border-box;
    padding: 10px;
}

#right {
    width: 45%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content:right;
}

h2{
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 1.2;
    letter-spacing:0.1cm;
}

.type{
    font-weight: 600;
    
}

#element {
    color: rgb(57, 230, 230);
}


#social {
    display: flex;
    padding: 0;
    margin: 20px 0 0 0;
    justify-content: flex-start;
}

#social a {
    display: inline-block;
    margin-right: 15px;
}

#social a img {
    height: 40px;
    transition: transform 0.3s ease;
}

#social a img:hover {
    transform: scale(1.2);
}

#profile-pic{
    width: 100%;
    max-width: 350px;
    border-radius: 50%;
    display: block;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

#profile-pic:hover{
    transform: scale(1.01);
    box-shadow: rgba(255, 255, 255, 0.052) 0px 5px 55px,
                rgba(255, 255, 255, 0.052) 0px -12px 30px,
                rgba(255, 255, 255, 0.052) 0px 4px 6px,
                rgba(255, 255, 255, 0.052) 0px 12px 13px,
                rgba(255, 255, 255, 0.052) 0px -3px 5px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

#ham {
    display: none;
    height: 38px;
    padding: 10px;
    cursor: pointer;
}
#footer{
    margin-top: 82px;
}
#footer p{
    text-align: center;
    margin: 0px;
}
#home{
    margin: 20px;
    margin-bottom: 0px;
    margin-top: 40px;
    width: 100%;
    height: 100%;
}

/* Responsive Design */



@media (max-width: 1090px) {
    #navbar ul{
        display:none;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        background-color: #12124f;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        height: 640px;
        
    }
    #navbar ul li{
        width: 95%;
        transition: color 0.1s ease-in-out;
        padding: 19px;
    }
    #navbar ul li:hover {
        background-color:#10105b;
    }
    #navbar ul.active{
        display:flex;
    }
    #navbar ul img {
        display: block;
    }
    #profile-pic {
        width: 100%;
        max-width: 300px;
        border-radius: 50%;
        display: block;

    }
    #ham {
        display: block;
        align-self: flex-end;
        z-index: 101;
    }
    .project-box{
        flex-direction: column;
        align-items: center;
    }
    
    .section{
        display: flex;
        flex-direction: column;
    }
    .active {
        display:flex; /* Use flexbox to maintain layout */
        /* Center content vertically */
        /* Ensure it takes the full width of the viewport */
    }
    #footer{
        margin-top: 20px;
    }
    #right {
        justify-content:center;
    }
    #home{
        margin: 20px;
        margin-top: 0px;
    }
}




.About{
    display: none;
    margin: 40px;
    width: 100%;
    height: 100%;
    padding-inline: 40px;
}


#heading {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
}
#heading h3{
    padding-left:25px ;
    font-weight: 500;
}
#line{
    width: 50px;
    height:2px;
    background-color: white;
    margin: 10px;
}
.about{
    background-color:#040449;
    margin-top: px;
    border-radius: 20px;

}
#box{
    width: 100%;
    display: flex;
}
#about-left{
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 35%;
    padding: 5px;
}
#about-left ul{
    font-size: 20px;
    padding-left:10px;

}
#about-left ul li{
    list-style: none;
}
#about-pic{
    
    width: 70%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    margin: 20px;
    border-radius: 15px;
}
#about-left h3{
    text-align: center;
    padding: 0;
    margin: 0;
}
#about-right{
    width:70%;
    margin-left: 15px;
    margin-right: 0px;
    padding: 35px;
}
#about-right p{
    margin:0;
    font-size: 20px;
}

@media ( max-width:720px) {
    .About{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
}

.Projects{
    display: none;
    margin: 40px;
    width: 100%;
    height: 100%;
    padding-inline: 40px;
}

.project-box{
    width: 100%;
    height: 100%;
    background-color:#040449;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    border-radius: 20px;
}
.project-section{
    height: 200px;
    width: 350px;
    border: 3px solid ;
    margin: 10px;
}




.Education{
    display: none;
    margin: 40px;
    width: 100%;
    height: 100%;
    padding-inline: 40px;
}

.Eduaction-box{
    width: 100%;
    height: 100%;
    background-color:#040449;
    display: flex;
    justify-content:flex-start;
    align-content: space-evenly;
    border-radius: 20px;
    
}
#BE{
    height: 350px;
    width: 400px;
    background-color: #040449;
    margin: 20px;
    margin-left: 40px;
    margin-block: 40px;
    color: white;
    padding: 15px;
    transition: transform 0.3s ease;
}

#course-duration{
    font-size: 20px;
}
#vtu-logo{
    width: 98%;
    border: 5px solid black;
}
#BE:hover{
    background-color: #0d0d37;
    transform: scale(1.02);
}
.section {
    display: none; /* Hide sections by default */
     /* Each section takes up the full height of the viewport */
}
.active {
        display: block; /* Use flexbox to maintain layout */
        /* Center content vertically */
        /* Ensure it takes the full width of the viewport */
    }


/* Section for Skills */
#skills{
    
    margin: 40px;
    width: 100%;
    height: 100%;
    padding-inline: 40px;
}
  

#skills-box{
    
    border-radius: 20px;
    background-color: #040449;
    width: 100%;
    height: 100%;
    
    
    
}
#skills-box div{
    display: flex;
    justify-content: space-evenly;
}
.skills-tab{
    width: 100px;
    height: 100px;
    background-color:#040449;
    margin: 10px;
    border-radius: 25px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-tab:hover{
    background-color:#0d0d72;
    transform: scale(1.07);
}
.skills-tab img{
    height: 50px;
}

    @media (max-width: 768px) {
        #ham {
            display: block;
            align-self: flex-end;
            z-index: 101;
        }
    
        .first {
            flex-direction: column-reverse;
        }
    
        #left,
        #right {
            width: 100%;
        }
    
        #left {
            text-align: center;
        }
    
        h2 {
            
            margin-block: 10px;
        }
    
        #social {
            justify-content: center;
        }
    
        main {
          margin-top: 10px;
        }
        #profile-pic {
            width: 100%;
            max-width: 300px;
            border-radius: 50%;
            display: block;
        }
        
.Education{
    margin: 10px;
    width: 100%;
    height: 100%;
    padding-inline: 20px;
}
        
        #BE{
            height: 100%;
            width: 100%;
            background-color: #040449;
            margin: 20px;
            color: white;
            padding: 20px;
           
        }
        .Section{
            
            margin: 10px;
            width: 100%;
            height: 100%;
            padding-inline: 20px;
        }
        .About{
    
            margin: 10px;
            width: 100%;
            height: 100%;
            padding-inline: 20px;
        }
        /* About Left Section */

        #about-left{
            display: flex;
            flex-direction: column;
            align-items: center ;
            width: 100%;
            padding: 0px;
        }
        #about-right{
            margin-top: 15px;
            width:100%;
            margin-left: 0px;
            margin-right: 0px;
            padding: 0px;
        }
        #about-left ul{
            font-size: 15px;
          
        
        }
        #about-right p {
            margin: 30px;
            font-size: 15px;
        }
        .Projects{
             
            margin: 10px;
            width: 100%;
            height: 100%;
            padding-inline: 20px;
        }
        
        
        .project-section{
            /* height: 170px;
            width: 350px; */
            margin-top: 20px;
            margin-bottom: 20px;
        }
        #box{
            width: 100%;
            display:flex;
            flex-direction: column;
        }
        

        /* heading Name RAhul Gualabji in home  */
        h2{
            font-size: 40px;
            margin-bottom: 20px;
            line-height: 1.2;
            letter-spacing:0.1cm;
        }
        #skills{
    
            margin: 10px;
            width: 100%;
            height: 100%;
            padding-inline: 20px;
}
        #skills-box {
            display: flex;
            justify-content: flex-start;
            
        }
        #skills-box div{
            display: flex;
            flex-direction: column;
            margin-left: 20px;
        }
    }
/* Target the scrollbar */
::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
  }
